<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <%- include('nab.ejs') %>
    <div class="detail-bg">
      <h4><%= post.title %></h4>
      <p><%= post.content %></p>
    </div>

    <button onclick="gotoList()">Back</button>
  </body>

  <script>
    const gotoList = () => {
      location.href = "/list";
    };
  </script>
</html>
