<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- nav bar -->
    <div class="nav">
      <a class="logo">AppleForum</a>
      <a>page1</a>
      <a>page1</a>
    </div>
  </body>
</html>
